body { margin: 2em; }
  * { font-family: tahoma,arial,helvetica,sans-serif;}
  .questionchoices { padding-left: 1em; }
  legend { font-weight: bold; }
  input, textarea { border: thin solid black; } 

  /* error class gets applied by jQuery Validate */
  input.error,  { border: thin solid red; }
  label.error {
      background: url('images/red_x.gif') no-repeat;
      padding-left: 16px;
      margin-left: .3em;
      color: red;
  }